
@font-face {
    font-family: 'Quicksand';
    src: url('quicksand_light-webfont.eot');
    src: url('quicksand_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('quicksand_light-webfont.woff') format('woff'),
         url('quicksand_light-webfont.ttf') format('truetype'),
         url('quicksand_light-webfont.svg#quicksandlight') format('svg');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'Quicksand';
    src: url('quicksand_book-webfont.eot');
    src: url('quicksand_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('quicksand_book-webfont.woff') format('woff'),
         url('quicksand_book-webfont.ttf') format('truetype'),
         url('quicksand_book-webfont.svg#quicksandbook') format('svg');
    font-weight: 400;
    font-style: normal;

}