body {
   font-family: Quicksand;
   font-weight: 300;
   margin: 10px 20px 0px 20px;
}

#header {
   position: relative;
}

#header #title {
   margin-top: -130px;
   font-size: 96px;
   color:#2d8fc1;
   float:left;
}

#header #menu {
   font-size: 20px;
   margin-left: 150px;
   position:absolute;
   left: 250px;
   top: 40px;
}

#header #menu ul {
   list-style-type: none;
   padding: 0;
   margin-left: 0;
}

#header #menu li {
   display: inline;
   margin-right: 30px;
}

#header #menu li a {
   padding-bottom:3px;
}

a {text-decoration: none;color: black;}
#menu a:visited {color:none;}  /* visited link */
#menu a:hover {border-bottom: 2px solid #2d8fc1;}  /* mouse over link */
#menu li.active a {border-bottom: 2px solid #2d8fc1;}  /* selected link */

#demos { 
   width:100%;
   margin-top: 70px;
   margin-left:auto;
   margin-right:auto;
   font-size: 20px;
   text-align: center;
}
#demos img { height: 200px; margin-top:10px}

#demos .demo { border: 1px solid rgb(200,200,200); border-right:none; width: 248px; height:248px; display:inline-block; float:left}
#demos .demo:nth-child(4n) { border-right: 1px solid rgb(200,200,200)}
#demos .demo:nth-child(n+5) { border-top: none}
#demo a { color: red}