body {
   font-family: Quicksand;
   font-weight: 300;
   margin: 10px 20px 0px 20px;
}

#header {
   position: relative;
   margin-top: -130px;
}

#header #title {
   font-size: 96px;
   color:#2d8fc1;
   float:left;
}

#header #menu {
   font-size: 20px;
   margin-left: 150px;
   position:absolute;
   left: 250px;
   top: 40px;
}

#header #menu ul {
   list-style-type: none;
   padding: 0;
   margin-left: 0;
}

#header #menu li {
   display: inline;
   margin-right: 30px;
}

#header #menu li a {
   padding-bottom:3px;
   text-decoration: none;
   border: none;
}

/*a {text-decoration: none; border-bottom: 1px solid #2d8fc1}*/

#header #menu a:visited {color:none;}  /* visited link */
#header #menu a:hover {border-bottom: 2px solid #2d8fc1;}  /* mouse over link */
#header #menu li.active a {border-bottom: 2px solid #2d8fc1;}  /* selected link */

#range {
    -webkit-appearance: slider-vertical;
    width: 20px;
    height: 85px;
    z-index: 10;
    position:relative;
}

#minQual {
   transform: rotate(90deg); /* normal */
   -webkit-transform: rotate(90deg); /* Safari */
   -moz-transform: rotate(90deg); /* Firefox */
   -ms-transform: rotate(90deg); /* IE */
   -o-transform: rotate(90deg); /* Opera */
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); /* Internet Explorer */
}

#demos { 
   width:650px;
   margin-top:10px;
   margin-left:auto;
   margin-right:auto;
   font-size: 20px;
   text-align: center;
   margin-top:30px;
}
#demos img { height: 200px; margin-top:10px}

#demos .demo { border: 1px solid rgb(200,200,200); border-right:none; width: 290px; height:290px; display:inline-block; float:left}
#demos .demo:nth-child(2n) { border-right: 1px solid rgb(200,200,200)}
#demos .demo:nth-child(n+5) { border-top: none}
#demo a { color: red}
.footer {margin-bottom:200px}