<!DOCTYPE html>
<html>    
    <body>
      <div>Service: <%=name%></div>
      <div>Description: <%=description%></div>
      <div>Example: <a href="<%=exampleUrl%>">link</a></div>
      <div>STATS: ?</div>
      <div>maybe globe of cities using it lately?</div>
    </body>
</html>
