---
layout: default
title: "What is it?"
group: "navigation"
order: 1
---
<!-- special padding for what's next block -->
<style> body{padding-bottom: 450px;}</style>





<div class='row' >
  <div class='col-sm-2'>
    <div class='news'>
      <ul>
        {% for post in site.posts limit:20 %}
          {% unless post.next %}
            <h4>{{ post.date | date: '%Y %b' }}</h4>
          {% else %}
            {% capture year %}{{ post.date | date: '%Y %b' }}{% endcapture %}
            {% capture nyear %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}
            {% if year != nyear %}
              <h4>{{ post.date | date: '%Y %b' }}</h4>
            {% endif %}
          {% endunless %}

          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>

<!--     {% for post in site.posts limit:6 %}
      <li class="news-item">
        <div class='snippet-title'><a href="{{ post.url }}">{{ post.title }}</a></div>
        <div class='news-text'>
          <div class='snippet-byline'>BY {{ post.tags | first }} ON {{ post.date | date: "%b %-d, %Y" }}</div>

        </div>
      </li>
    {% endfor %} -->

  </div>
  <div class='col-sm-10' style="margin-top:50px">
      <div style='width: 950px; margin-left:auto; margin-right:auto'>
          <div class='landing-intro' style="font-size:30px;text-align:left;margin: 10px 0px 30px 0px; float:left; width:426px">
            <div style="color:#123d53;">

              Real-time Genomic Analysis
            </div>
            <div class="description" style="margin-top: 10px;font-size:16px; color:#2d8fc1">iobio uses immediate visual feedback to make understanding complex genomic datasets more intuitive, and analysis more interactive
            </div>
          </div>
          <div class='landing-video' style="float:right">
            <video id="MY_VIDEO_1" class="video-js vjs-default-skin " style="margin: 0 auto;width:500px;" controls
              preload="auto" width="500" height="282" poster="public/images/animation_still_white_bg_small.png"
              data-setup="{}">
              <source src="https://s3.amazonaws.com/iobio/Al(music).small.mp4" type='video/mp4'>
              <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
            </video>
          </div>

          <div style="text-align:center;width: 400px; float:left">
            <div style="margin-top:20px; ">

              <link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
              <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

              </style>
              <div id="mc_embed_signup">
              <form action="http://iobio.us9.list-manage.com/subscribe/post?u=ddbe7be3d1ca18356bf5c0404&amp;id=ace369fbec" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate style="padding: 0px">
                  <div id="mc_embed_signup_scroll">
                <div style="font-size: 14px; color: rgb(110,110,110);margin-bottom: 4px">

                </div>
              <div class="mc-field-group" style="width:100%; margin:0px">
                <label for="mce-EMAIL" style="color:rgb(150,150,150">Sign up to hear about new apps and news for developers </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                  <div style="position: absolute; left: -5000px;">
                    <input type="text" name="b_ddbe7be3d1ca18356bf5c0404_ace369fbec" tabindex="-1" value=""></div>
                    <div class="clear" style=""><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="background: #b70e11"></div>
                  </div>
              </form>
              </div>
              <script type='text/javascript' src='http://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

            </div>
          </div>
          <div style="clear:both"></div>
          <!-- <div class="" style="font-size: 28px;text-align: center;">
            <a href="/support.html">Support the iobio project</a></div> -->
        </div>


        <!-- try it apps -->
        <div class="divider" ></div>
        <div class='section'>
          <div class='section-title'>Try It</div>
          <ul id="apps">
            <li>
              <div class='app'>
                <div class="app-title"><a href="http://gene.iobio.io/">gene.iobio.io</div>
                <a href="http://gene.iobio.io"><img src="public/images/gene.iobio_wide.png" style="height:247px" ></img></a>
                <div class="description">a web app for investigating potential disease-causing variants
                </div>
              </div>
            </li>
            <li>
              <div class='app'>
                <div class="app-title"><a href="http://taxonomer.iobio.io/">taxonomer.iobio.io</a></div>
                <a href="http://taxonomer.iobio.io"><img src="public/images/taxonomer.iobio_wide.png" style="height:247px" ></img></a>
                <div class="description">an ultra fast metagenomics classification and analysis app. <a href="/2016/05/26/taxonomer.iobio/">Read the blog post</a>
                </div>
              </div>
            </li>
          </ul>
          <div style="margin-top:30px;font-size:18px"><a href="applications.html"> See more</a></div>
        </div>
      </div>
    </div> <!-- /column -->

    <!-- most recent blog posts -->
    <!-- <div class="divider" ></div> -->
      <div class='section' style='max-width: 1021px; margin-left: auto; margin-right: auto;'>
        <div class='section-title'>Recent Blog Posts</div>
          <div class="posts blog-container" style="margin-left:-89.5px;height:300px;">
            {% for post in site.posts limit:6 %}
              <li class="snippet">

                 <div class='snippet-thumbnail'> <a href="{{ post.url }}"><img src={{ post.image }}></img></a></div>
                <div class='snippet-text'>
                  <div class='snippet-byline'>BY {{ post.tags | first }} ON {{ post.date | date: "%b %-d, %Y" }}</div>
                  <div></div>
                  <img class='snippet-headshot' src="/public/images/team/{{ post.tags | first | replace:' ','_'  }}.png"/>
                  <div class='snippet-title'><a href="{{ post.url }}">{{ post.title }}</a></div>
                  <div class='snippet-subtitle'>{{ post.subtitle }}</div>
                </div>
              </li>
            {% endfor %}
          </div>
      </div>

</div>

    <div class="footer">
      <div class="logos">
          <div style="position:absolute; left: 100px; top:0px; font-size:50px;font-family:'Overlock SC', cursive;"><a href="http://marthlab.org" style="text-decoration:none">Marthlab</a></div>
          <a href="http://ucgd.genetics.utah.edu/"><img src="public/images/ustar-ucgd-logo.jpg" style="height:60px;"/></a>
          <a href="http://www.genetics.utah.edu/"><img src="public/images/genetics_mainlogo3_lrg.png" style="height:50px;position:absolute;right:0px;top:7px"/></a>
      </div>
      <div id="contribute" class="section">
        <div class='section-title'>What's Next</div>
        <div class="section-content">
          <div >
            <div class="title">For Users</div>
            <div class="description">We are constantly trying to improve our apps. If our apps are missing something, let us know how we can improve (<a href="about.html">contact us</a>). Also we are actively building new applications in numerious biological research areas. If you feel iobio would be a good fit for your area of research and would like to collaborate <a href='about.html'>contact us!</a></div>
          </div>
          <div>
            <div class="title" style="margin-top:40px;">For Developers</div>
            <div class="description">A developers release with be coming out in the next few months so that anyone can build an iobio app. If you want to be informed of the release sign up for updates. <a href='developers.html'>More information on developers release</a></div>
          </div>
        </div>
      </div>
    </div>
