


/*
 * Contents
 *
 * Global Resets
 * Masthead
 * Container
 * Sectoin
 * Footer
 */


/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

html { height: 100%; margin: 0px; padding: 0px;}
header { margin: 0px;padding: 0px;}
body {
  font-family: Montserrat;
  margin: 0px;
  padding: 0px;
  position: relative;
  min-height: 100%;
}
a { color:rgb(110,110,110); text-decoration: underline;}


/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

.masthead {
  position: fixed;
  background: #123d53;
  top:0px;
  left:0px;
  right:0px;
  z-index: 3;
  border-bottom: #081d27;
  box-shadow: 0px 10px 40px 4px white;
  font-family: quicksand;
  padding: 0px;
  height: 52px;
/*  box-sizing: border-box;*/
}

.masthead-container {
  width: 1060px;
  min-width: 1060px;
  margin: 0px auto 0px auto;
}

.masthead-title {
  font-family: quicksand;
   font-size: 37px;
   color:#2d8fc1;
   float:left;
   font-weight: 300;
   margin-top: 5px;
}
.masthead-title a {
  color: #2d8fc1;
  text-decoration: none;
}
.masthead #menu {
   font-size: 14px;
   float:right;
   margin-top: 18px;
}

.masthead #menu ul {
   list-style-type: none;
   padding: 0;
   margin-left: 0;
}

.masthead #menu li {
   display: inline;
   margin-left: 50px;
}

.masthead #menu li a {
  color:white;
   padding-bottom:3px;
   text-decoration: none;
   border: none;
}

/*a {text-decoration: none; border-bottom: 1px solid #2d8fc1}*/

.masthead #menu a:visited {color:none;}  /* visited link */
.masthead #menu a:hover {border-bottom: 2px solid #2d8fc1;}  /* mouse over link */
.masthead #menu li.active a {border-bottom: 2px solid #2d8fc1;}  /* selected link */


/*
 * Container
 *
 * Center the page content.
 */

 /*@media (min-width: 38em) {
  html {
    font-size: 20px;
  }
}*/

/*@media (min-width: 38em) {
  .container {
    max-width: 32rem;
  }
}
@media (min-width: 56em) {
  .container {
    max-width: 38rem;
  }
}*/

.container {
  max-width: 1021px;
  width: 1021px;
  min-width: 1021px;
  z-index: 1;
  font-size:30px;
  width:100%;
  margin-top: 60px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(110,110,110);
  text-align:justify;
  font-family: Montserrat;
  padding-bottom: 173px;
}


/*
 * Section
 *
 */
.section { text-align: center; padding: 30px 0px 50px 0px;}
.section-title { font-size: 45px;}
.description { font-size: 14px; text-align:justify; margin-top:5px;}

.section #apps {margin: 0; margin-top: 20px; padding: 0; list-style-type: none; text-align: center;}
.section #apps li {display: inline; margin: 0px 40px 0px 40px}
.section #apps .app {display: inline-block; vertical-align: top;}
.section #apps img { width: 400px; height: 249px;}
.section #apps .description { width: 370px; margin-left:15px; font-size: 12px; margin-top: -10px;}
.section .app-title { font-family: quicksand; font-size: 25px}
.section .app-title a { text-decoration: none;}
.section .app-title a:hover { text-decoration: underline;}

.section#contribute {background:#2d8fc1; height: 420px;}
.section#contribute a { color:#123d53; }
.section .section-title { color:#123d53; font-family: Montserrat}
.section .section-content { width:600px; margin: 20px auto 0px auto; }
.section#contribute .title { font-size: 25px; text-align:left; color:white; width: 100%;}
.section#contribute .description { font-size: 14px; text-align:justify; margin-top:5px; color:white;}
.section#news .date { font-size: 24px;  margin-bottom: 5px}
.section#news ul { list-style-type: none; margin:0px;}
.section#news li {margin-bottom: 3px;}
.section#news a { color: #2d8fc1;}


/*
 * Developer page
 *
 */

#developer .section .section-title { color: rgb(100,100,100); font-size: 40px; text-align: left}
#developer .section { font-size: 15px; text-align: justify;}
#developer .section .library { margin-top: 20px; padding-left: 30px;}
#developer .section .library-title { font-size: 25px;}
#developer .sub-section { margin: 20px 0px 0px 20px;}
#developer .sub-section .section-title { font-size:20px; text-decoration: underline;}
#developer ul#visualizations { font-size:8px; padding: 0; list-style-type: none; }
#developer ul#visualizations li { display:inline-block; margin-left: 60px; margin-top: 20px;}
#developer ul#visualizations .viz-title { text-align: center; font-size: 20px; font-family: 'Open Sans';}
#developer ul#visualizations rect { fill: rgba(120,176,194,0.5) }
#developer ul#visualizations polygon { fill: rgba(120,176,194,0.5) }
#developer ul#visualizations .cds rect { fill: rgba(120,176,194,0.5); stroke: rgb(120,176,194);}
#developer ul#visualizations .utr rect { fill: rgba(120,176,194,0.5); stroke: rgb(120,176,194);}
#developer ul#visualizations .glyphicon { font-size: 15px;}
#developer ul#visualizations a { text-decoration: none; color: rgb(110,110,110);}
#developer ul#visualizations a:hover { text-decoration: none; color: rgb(70,70,70);}

/*
 * Blog Posts
 *
 */
.blog-masthead { background: white;}
.blog-masthead #menu li a { color: #2d8fc1;}
.blog-container { width: 1200px; max-width: 1200px; min-width: 1200px; margin-left:auto; margin-right:auto;}
.posts { margin-top: 70px;}
.posts ul {
  list-style-type: none;
  overflow:hidden;
  margin:0;
  padding:0;
}
.posts li {
  width:31%;
  margin: 5px 1%;
  padding:0;
  vertical-align: top;
  display: inline-block;
  margin-bottom: 50px;
  box-sizing: border-box;
  position: relative;
  float: left;
}

.posts li:nth-child(3n+1) { float:left; clear:both; margin-right: 2%;}
.posts li:nth-child(3n+3) { float:right !important; margin-right: 4px}
.posts .snippet {
  /*border: 1px solid rgb(200,200,200);*/
  /*font-family: 'Open Sans', sans-serif;*/
  height: 300px;
  box-shadow: 2px 2px 6px 2px rgb(200,200,200);
  /*border-radius: 3px;*/
}

.posts .snippet-thumbnail {
  width: auto;
  margin: 10px;
  border-radius: 3px;
  box-sizing: border-box;
}
.posts .snippet-thumbnail img { width: 100%; height: 145px; border: 1px solid rgb(230,230,230); border-radius: 3px; margin: 0px;}
.posts .snippet-text { margin: -10px 15px 2px 15px }
.posts .snippet-byline { font-size: 15px; color: rgb(120,120,120); font-weight: 300; font-size: 0.875rem; text-transform: uppercase; }
.posts .snippet-headshot { height: 50px; position: absolute; right: 15px; top: 126px; border: 3px solid white; border-radius: 50px;}
.posts .snippet-title { font-size: 1.5rem;  }
.posts .snippet-title a { text-decoration: none; font-weight: 600; color: rgb(70,70,70);}
.posts .snippet-subtitle { font-size: 0.875rem; color: rgb(120,120,120); margin-top: 7px; margin-bottom: 16px; }

.post { width: 900px; margin-left: auto; margin-right: auto;}
.post .post-title { font-size: 60px;}
.post .post-image { text-align: center;}
.post .post-image img { width: 900px; }
.post .post-date { font: 300 17px "Open Sans"; color: rgb(160,160,160); display: inline-block; }
.post .post-author { font: 400 17px "Open Sans"; color: rgb(120,120,120); display: inline-block;}
.post .post-content { font: 400 20px "Open Sans"; color: rgb(100,100,100); margin-top: 30px; margin-bottom: 50px;}
.post .post-headshot { height: 30px; vertical-align: middle}
.post h1 { font-size: 48px; font-weight: bold;}
.post h2 { font-size: 44px; font-weight: bold;}
.post h3 { font-size: 40px; font-weight: bold;}
.post h4 { font-size: 30px; font-weight: bold;}


/*
 * Footer
 *
 */
.footer { position: absolute; bottom: 0px; width:100%; min-width: 1066px;}
.footer .logos {margin: 0px auto 10px auto; width:1000px;text-align:center;position:relative; height: 60px; color:rgb(80,80,80);}
.footer .developers {background: #123d53; height:60px; padding-top: 10px; color:#2d8fc1; text-align:center;}
.footer .members {font-size:15px;font-family:quicksand; margin: 5px auto 0px auto; width:800px;text-align:center;}
.footer img { height: 35px; vertical-align: middle}
.footer .title {font-size:15px;font-family:quicksand; margin: 0px auto 0px auto; width:400px; color:#2d8fc1}


.tweet-feed iframe{
    margin:0 auto !important;
    display:block;
}


/* For mobile phones in portrait view */
/*@media screen and (max-device-width:1089px), screen and (max-width:1089px) {
.logo {color:#2d8fc1; font-weight: 400; font-family: quicksand}
.logo a {color:#2d8fc1; font-weight: 400; font-family: quicksand; text-decoration: none}


#content {
  z-index: 1;
  font-size:30px;
  width:100%;
  padding-top: 60px;

  color: rgb(110,110,110);
  text-align:justify;
  font-family: Montserrat;
  padding-bottom: 173px;
  margin-left: 10px;
  margin-right: 10px;
 }

  #header #title {
     font-size: 37px;
     color:#2d8fc1;
     position:absolute;
     top: 10px;
     left: 10px;
     font-weight: 300;
  }
  #header #menu {
     font-size: 14px;
     margin-left: 150px;
     position:absolute;
     right: 10px;
     top: 8px;
  }
  #header #menu li {
     display: inline;
     margin-right: 20px;
  }

.footer { width: 1100px; margin: auto; position: absolute; bottom: 0px; left:0px;right:0px;}

}*/