<div class="footer">
  {% if page.title != "What is it?" %}
    <div class="logos">
      <div style="position:absolute; left: 100px; top:0px; font-size:50px;font-family:'Overlock SC', cursive;"><a href="http://marthlab.org" style="color:black; text-decoration:none;">Marthlab</a></div>
      <a href="http://ucgd.genetics.utah.edu/"><img src="/public/images/ustar-ucgd-logo.jpg" style="height:60px;"/></a>
      <a href="http://www.genetics.utah.edu/"><img src="/public/images/genetics_mainlogo3_lrg.png" style="height:50px;position:absolute;right:0px;top:7px"/></a>
    </div>
  {% endif %}
  <div class="developers">
        <div class='title'>Developed in the <a href="http://marthlab.org/">Marth Lab by</a></div>

        <div class="members">
          <span style="margin-right:15px">
            <a href="https://github.com/chmille4"><img src="/public/images/github_2d8fc1.png"/></a>
            Chase Miller
          </span>
          <span style="margin-right: 15px">
            <a href="https://github.com/yiq"><img src="/public/images/github_2d8fc1.png"/></a>
            Yi Qiao
          </span>
          <span style="margin-right: 15px">
            <a href="https://github.com/tonydisera"><img src="/public/images/github_2d8fc1.png"/></a>
            Tony DiSera
          </span>
          <span style="margin-right: 15px">
            <a href="https://github.com/alistairnward"><img src="/public/images/github_2d8fc1.png"/></a>
            Alistair Ward
          </span>
        </div>
    </div>
</div>